@model WebApplication1.Models.Shipment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.shipmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
